<header class="<%- hClass %>">
    <nav>
        <nav-bar>
            <div class="wrapper">
            
                    <a class="menu-btn" href="/">Me<br/>nu</a>
                    <div class="hidden-menu" style="display: hidden;">
                        <a class="menu-btn-toggled menu-link" href="/about">About</a> 
                        <a class="menu-btn-toggled menu-link" href="/user">User</a>   
                        <a class="menu-btn-toggled menu-link" href="/contact">Contact</a> 
                    </div>
                
            </div>
            
        </nav-bar>
    </nav>
</header>