<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs', {title: "WaveType - About"}) %>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <main-container-3 class="light">
            <div class="mc3-item">
                <h2 class="h-red-text">About WaveType 🌊</h2>
                <p class="p-black-text">WaveType helps you type faster! With catchy music and lyrics, it makes learning fun and engaging. Dive into lessons, groove to the beat and watch your typing skills soar! Say goodbye to boring typing practice WaveType makes it an exciting journey! 🎧</p>
            </div>
        </main-container-3>
    </main>
    <%- include('includes/footer.ejs') %>
</body>
</html>