<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs', {title: "WaveType - Contact"}) %>
<body>
    <%- include('includes/header.ejs') %>
    <main>
        <main-container-3 class="light">
            <div class="mc3-item">
                <h2 class="h-red-text">This site is under construction ⚠️</h2>
            </div>
        </main-container-3>
    </main>

    <%- include('includes/footer.ejs') %>
</body>
</html>