<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs', {title: "WaveType - Home"}) %>
<body>
    <span id="scrollTo" style="display: none;"><%= scroll %></span>
    <header>
        <nav>
            <nav-bar>
                <div class="wrapper">
                
                        <a class="menu-btn" href="/">Me<br/>nu</a>
                        <div class="hidden-menu" style="display: hidden;">
                            <a class="menu-btn-toggled menu-about" href="/about">About</a> 
                            <a class="menu-btn-toggled menu-user" href="/user">User</a>   
                            <a class="menu-btn-toggled menu-contact" href="/contact">Contact</a> 
                        </div>
                    
                </div>
                
            </nav-bar>
        </nav>
    </header>
    <main>
        <main-container-1>
            <div class="mc1-item-1">
                <div class="brand-name-wave">wave</div>
            </div>
            <div class="mc1-item-2">
                <div class="brand-name-type">type</div>
            </div>    
        </main-container-1>
        <main-container-2>
            <div class="mc2-item-1">
                <h2 class="h-red-text">Learn<br/>to type<br/>fast...</h2>
            </div>
            <div class="mc2-item-2">
                <img class="mc2-img" src="/images/with-music.png" alt="">
            </div>
        </main-container-2>
        <main-container-4>
            <!-- uspide down svg -->
            <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 440" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 242, 242, 1)" offset="0%"></stop><stop stop-color="rgba(255, 242, 242, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,176L48,190.7C96,205,192,235,288,264C384,293,480,323,576,286C672,249,768,147,864,117.3C960,88,1056,132,1152,124.7C1248,117,1344,59,1440,66C1536,73,1632,147,1728,161.3C1824,176,1920,132,2016,161.3C2112,191,2208,293,2304,344.7C2400,396,2496,396,2592,337.3C2688,279,2784,161,2880,154C2976,147,3072,249,3168,308C3264,367,3360,381,3456,381.3C3552,381,3648,367,3744,359.3C3840,352,3936,352,4032,359.3C4128,367,4224,381,4320,359.3C4416,337,4512,279,4608,264C4704,249,4800,279,4896,264C4992,249,5088,191,5184,146.7C5280,103,5376,73,5472,58.7C5568,44,5664,44,5760,73.3C5856,103,5952,161,6048,168.7C6144,176,6240,132,6336,124.7C6432,117,6528,147,6624,132C6720,117,6816,59,6864,29.3L6912,0L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(248, 171, 171, 1)" offset="0%"></stop><stop stop-color="rgba(248, 171, 171, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,88L48,139.3C96,191,192,293,288,278.7C384,264,480,132,576,66C672,0,768,0,864,44C960,88,1056,176,1152,227.3C1248,279,1344,293,1440,300.7C1536,308,1632,308,1728,293.3C1824,279,1920,249,2016,242C2112,235,2208,249,2304,271.3C2400,293,2496,323,2592,315.3C2688,308,2784,264,2880,271.3C2976,279,3072,337,3168,359.3C3264,381,3360,367,3456,322.7C3552,279,3648,205,3744,212.7C3840,220,3936,308,4032,330C4128,352,4224,308,4320,300.7C4416,293,4512,323,4608,337.3C4704,352,4800,352,4896,330C4992,308,5088,264,5184,220C5280,176,5376,132,5472,139.3C5568,147,5664,205,5760,242C5856,279,5952,293,6048,300.7C6144,308,6240,308,6336,271.3C6432,235,6528,161,6624,168.7C6720,176,6816,264,6864,308L6912,352L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path><defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(244, 89, 89, 1)" offset="0%"></stop><stop stop-color="rgba(244, 89, 89, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,88L48,88C96,88,192,88,288,102.7C384,117,480,147,576,132C672,117,768,59,864,88C960,117,1056,235,1152,249.3C1248,264,1344,176,1440,154C1536,132,1632,176,1728,205.3C1824,235,1920,249,2016,264C2112,279,2208,293,2304,271.3C2400,249,2496,191,2592,154C2688,117,2784,103,2880,88C2976,73,3072,59,3168,102.7C3264,147,3360,249,3456,271.3C3552,293,3648,235,3744,183.3C3840,132,3936,88,4032,102.7C4128,117,4224,191,4320,212.7C4416,235,4512,205,4608,227.3C4704,249,4800,323,4896,315.3C4992,308,5088,220,5184,183.3C5280,147,5376,161,5472,161.3C5568,161,5664,147,5760,183.3C5856,220,5952,308,6048,337.3C6144,367,6240,337,6336,308C6432,279,6528,249,6624,198C6720,147,6816,73,6864,36.7L6912,0L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path></svg>
            <!-- facing upwards <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 440" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 242, 242, 1)" offset="0%"></stop><stop stop-color="rgba(255, 242, 242, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,176L48,190.7C96,205,192,235,288,264C384,293,480,323,576,286C672,249,768,147,864,117.3C960,88,1056,132,1152,124.7C1248,117,1344,59,1440,66C1536,73,1632,147,1728,161.3C1824,176,1920,132,2016,161.3C2112,191,2208,293,2304,344.7C2400,396,2496,396,2592,337.3C2688,279,2784,161,2880,154C2976,147,3072,249,3168,308C3264,367,3360,381,3456,381.3C3552,381,3648,367,3744,359.3C3840,352,3936,352,4032,359.3C4128,367,4224,381,4320,359.3C4416,337,4512,279,4608,264C4704,249,4800,279,4896,264C4992,249,5088,191,5184,146.7C5280,103,5376,73,5472,58.7C5568,44,5664,44,5760,73.3C5856,103,5952,161,6048,168.7C6144,176,6240,132,6336,124.7C6432,117,6528,147,6624,132C6720,117,6816,59,6864,29.3L6912,0L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(248, 171, 171, 1)" offset="0%"></stop><stop stop-color="rgba(248, 171, 171, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,88L48,139.3C96,191,192,293,288,278.7C384,264,480,132,576,66C672,0,768,0,864,44C960,88,1056,176,1152,227.3C1248,279,1344,293,1440,300.7C1536,308,1632,308,1728,293.3C1824,279,1920,249,2016,242C2112,235,2208,249,2304,271.3C2400,293,2496,323,2592,315.3C2688,308,2784,264,2880,271.3C2976,279,3072,337,3168,359.3C3264,381,3360,367,3456,322.7C3552,279,3648,205,3744,212.7C3840,220,3936,308,4032,330C4128,352,4224,308,4320,300.7C4416,293,4512,323,4608,337.3C4704,352,4800,352,4896,330C4992,308,5088,264,5184,220C5280,176,5376,132,5472,139.3C5568,147,5664,205,5760,242C5856,279,5952,293,6048,300.7C6144,308,6240,308,6336,271.3C6432,235,6528,161,6624,168.7C6720,176,6816,264,6864,308L6912,352L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path><defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(244, 89, 89, 1)" offset="0%"></stop><stop stop-color="rgba(244, 89, 89, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,88L48,88C96,88,192,88,288,102.7C384,117,480,147,576,132C672,117,768,59,864,88C960,117,1056,235,1152,249.3C1248,264,1344,176,1440,154C1536,132,1632,176,1728,205.3C1824,235,1920,249,2016,264C2112,279,2208,293,2304,271.3C2400,249,2496,191,2592,154C2688,117,2784,103,2880,88C2976,73,3072,59,3168,102.7C3264,147,3360,249,3456,271.3C3552,293,3648,235,3744,183.3C3840,132,3936,88,4032,102.7C4128,117,4224,191,4320,212.7C4416,235,4512,205,4608,227.3C4704,249,4800,323,4896,315.3C4992,308,5088,220,5184,183.3C5280,147,5376,161,5472,161.3C5568,161,5664,147,5760,183.3C5856,220,5952,308,6048,337.3C6144,367,6240,337,6336,308C6432,279,6528,249,6624,198C6720,147,6816,73,6864,36.7L6912,0L6912,440L6864,440C6816,440,6720,440,6624,440C6528,440,6432,440,6336,440C6240,440,6144,440,6048,440C5952,440,5856,440,5760,440C5664,440,5568,440,5472,440C5376,440,5280,440,5184,440C5088,440,4992,440,4896,440C4800,440,4704,440,4608,440C4512,440,4416,440,4320,440C4224,440,4128,440,4032,440C3936,440,3840,440,3744,440C3648,440,3552,440,3456,440C3360,440,3264,440,3168,440C3072,440,2976,440,2880,440C2784,440,2688,440,2592,440C2496,440,2400,440,2304,440C2208,440,2112,440,2016,440C1920,440,1824,440,1728,440C1632,440,1536,440,1440,440C1344,440,1248,440,1152,440C1056,440,960,440,864,440C768,440,672,440,576,440C480,440,384,440,288,440C192,440,96,440,48,440L0,440Z"></path></svg> -->
        </main-container-4>
        <main-container-5>
            <div class="timer"></div>
            <div class="container-wavetype">
                <div class="display-start">
                    <button data-cy="typing" class="typing-start">
                        Start typing...
                    </button>
                </div>
                <div class="display">
                    <div class="display-text">
                        <span data-cy="lyrics" class="lyrics-span" style="display: none;"><%= lyrics %></span>

                        <!-- Removing non commercial use text -->
                        <!-- <span class="lyrics-span" style="display: none;"><%# lyrics.split('*******')[0].split('\n').join('') %></span> -->
                    </div>
                </div>

                <div class="kb-container">
                    <div class="search">
                        <form action="search" method="post" class="search-form">
                            <input data-cy="artist"  type="text" class="inp-search" placeholder="Artist..." name="artist" id="artist"/>
                            <input data-cy="track" type="text" class="inp-search" placeholder="Song title..." name="track" id="track"/>
                            <button data-cy="submit" type="submit" class="inp-search-btn" id="search" class="">Find lyrics...</button>
                    
                        </form>
                    </div>
                    <div class="keyboard"></div>
                    <!-- <div class=""></div> -->
                </div>
               
            </div>
        </main-container-5>

        <div class="div-credits">
            <div class="div-credits-text">Made by @vanxi 🌊</div>
        </div>
    </main>

    
    <%- include('includes/footer.ejs') %>
</body>
</html>
