<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/styles/kbrd.css">
            <title>keyboard test</title>

            <script src="../scripts/kbrd.js" defer></script>
        </head>
        <body>
            <div class="timer" ></div>
            <div class="container-wavetype">
                <div class="display">
                    <div class="display-text">
                    </div>
                </div>
                <div class="keyboard">
                </div>
            </div>
            <script>
                
            </script>
        </body>
        </html>